/*design-system*/
/*spacing system */
/* color system*/
/*primary colors */
/*primary green */
/*lighter green */
/*darker green */
/*secondary colors */
/* secondary red */
/* lighter red */
/* darker red */
/* natural colors (grayscale) */
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.7;
  direction: rtl;
  padding: 2.5rem;
}

@keyframes moveInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  70% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  70% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@font-face {
  font-family: "IRANSans_light";
  src: url(/fonts/IRANSans_Light.ttf) format("truetype");
}
@font-face {
  font-family: "IRANSans_reg";
  src: url(/fonts/IRANSans.ttf) format("truetype");
}
@font-face {
  font-family: "IRANSans_Med";
  src: url(/fonts/IRANSans_Medium.ttf) format("truetype");
}
@font-face {
  font-family: "IRANSans_bol";
  src: url(/fonts/IRANSans_Bold.ttf) format("truetype");
}
@font-face {
  font-family: "kalame";
  src: url(/fonts/KalamehWeb_Regular.ttf) format("truetype");
}
.btn:link, .btn:visited {
  text-decoration: none;
  background-color: #ffffff;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 100px;
  color: #000000;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.primary-heading {
  color: #ffffff;
}
.primary-heading-top {
  display: block;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  font-weight: 400;
  animation: moveInRight 3s;
}
.primary-heading-bottom {
  display: block;
  font-size: 2.5rem;
  letter-spacing: 1rem;
  font-weight: 400;
  animation: moveInLeft 3s;
  margin-bottom: 2rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(3, 51, 36, 0.6117647059), #39997c), url(/image/OIP.jfif);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}
.header-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "IRANSans_reg";
}
.header-logo-container {
  height: 0.5rem;
  position: absolute;
  left: 30px;
  top: 30px;
}
.header-logo {
  width: 2.5rem;
  height: 2.5rem;
}

.row {
  max-width: 114rem;
  background-color: #333333;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  background-color: orange;
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

/*# sourceMappingURL=style.css.map */
