.feature-box{
    text-align: center;
    background-color: $color-white;
    padding: 2rem;
    border-radius: 2px;
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    transition: all 0.2s;

    &__icon{
        height: $spacing-lg;
        width: $spacing-lg;
    }
    &__text{
        font-size: $spacing-xs1;
        font-family: 'IRANSans_reg';
    }
    &:hover{
        transform: translateY(-1.05rem) scale(1.05) ;
    }
}
