@font-face{
    font-family: 'IRANSans_light';
    src: url(/fonts/IRANSans_Light.ttf) format("truetype");
 }
 @font-face{
    font-family: 'IRANSans_reg';
    src: url(/fonts/IRANSans.ttf) format("truetype");
 }
 @font-face{
    font-family: 'IRANSans_Med';
    src: url(/fonts/IRANSans_Medium.ttf) format("truetype");
 }
 @font-face{
    font-family: 'IRANSans_bol';
    src: url(/fonts/IRANSans_Bold.ttf) format("truetype");
 }
 @font-face{
    font-family: 'kalame';
    src: url(/fonts/KalamehWeb_Regular.ttf) format("truetype");
 }
 @import 'abstracts/variables';
 
 .heading-features{
   font-size:  $spacing-lg;
   font-family: 'IRANSans_bol';
   font-weight: 700;
   background-image: linear-gradient(to right, $color-secondary-light,  $color-secondary-dark);
   background-clip: text;
   color: transparent;
   margin-bottom:  $spacing-6xl;
   &:hover{
      transform: skewY(2deg) skewX(15deg);
      text-shadow: 0.5rem 1rem 1.5rem rgba($color: #000000, $alpha: 0.3);  
      transition: all 0.3s;
   }
 }