*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
    font-size: 62.5%;
    // 1rem:10px; 10px=62.5%
    @include responsive(phone){
      font-size: 56.25%; //1rem=9px; 9px/16px=56.25%
    }
    @include responsive(tab-por){
      font-size: 50%; //1rem=8px; 8px/16px=50%
    }
    @include responsive(tab-land){
      font-size: 56.25%; //1rem=9px; 9px/16px=56.25%
    }
    @include responsive(big-desktop){
      font-size: 75%; //1rem=12px; 12px/16px=75%
    }






}
 

body{
  line-height: 1.7;
  direction: rtl;
  color: $color-dark-gray;
  background-color: $color-light-gray;
  padding: $spacing-md;
}

li{
  list-style-type: none;
}