.navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__right{

    }
    
    &__figure{

    }
    &__image{

    }
    &__message{

    }
    &__bookmark{

    }
    &__input{

    }
    &__icon{

    }
    &__logo{

    }
}